@import"base/_reset";
@import"base/_body";
@import"base/_footer";
@import"base/_index";

.formulario{
    border-top: darkslategray solid 15px;
    border-bottom: darkslategray solid 15px;
    margin: 25px;
    background-color: lightgray;
    margin-top: 50px;
    border-top: darkslategray solid black;}

   

.contenedor-conocenos{
    width: 100%;
    margin: auto;
    background-color: lightgray;
}

    
    



